table, table td, table th {
    font-size: 18px;
    border: 1px solid black;
    }

table {
    width: 100%;
    table-layout: fixed;
    }

table th {
    padding: 3px;
    background-color: rgb(182, 193, 212);
}

table td {
    padding: 3px;
}

caption {
    font-weight: bolder;
}


